/*
!.gitignore
!/mobile/
!/website/
/mobile/.git_mobile_backup/
/mobile/node_modules/
/mobile/coverage/
/mobile/.expo/
/mobile/test_results.log
/mobile/test-api-connection.js
/website/node_modules/
/website/.next/
/website/.swc/
/website/.vercel/
/website/coverage/
/website/.turbo/
/website/prisma/*.db
/website/prisma/*.db-journal
**/.claude/
